@keyframes page-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes start-fade {
    0% {
    }

    100% {
        opacity: 1;
    }
}

@keyframes page-out {
    0% {
        opacity: 1;
        z-index: 3;

        transform: translateX(0);
    }

    100% {
        opacity: 0;
        z-index: 3;

        transform: translateX(100%);
    }
}

.page {
    max-width: 768px;
    margin: 0 auto;
    opacity: 0;
    // left: 0;
    // top: 0;
    // right: 0;
    // position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    border-radius: 10px;
    background-color: var(--white);
    animation: start-fade 1s ease forwards;
}

// .page-enter {
// }
.page-enter-active {
    animation: page-in 0.5s ease forwards;
}
.page-enter-done {
    opacity: 1;
}
// .page-exit {
// }
.page-exit-active {
    animation: page-out 0.5s ease forwards;
}

.footer {
    background-color: var(--grey);
}

.footer__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 19px 25px;
}

.footer__contacts {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.8;
}
.footer-contact__link {
    transition: 0.2s;

    font-size: 1.3rem;
    &:hover {
        color: var(--green);
    }
}

.footer-contact__icon {
    height: 1.8rem;
}
