:root {
    --blue: #568de5;
    --light-blue: #84adea;
    --sky: #cbdcf7;
    --light-sky: #dce7f7;
    --white: #ecf0f5;
    --green: #70b673;
    --green-hover: #8cc58e;
    --green-light: #c4e1c5;
    --grey: #c5cfdc;
    --error: #f2a4a4;
    --error-text: #df6c6c;
    --text: #414141;
    --trns-text: #3d3d3d9d;

    --pretty-shadow: 0 1px 1px rgba(0, 0, 0, 0.008),
        0 2px 2px rgba(0, 0, 0, 0.008), 0 4px 4px rgba(0, 0, 0, 0.008),
        0 8px 8px rgba(0, 0, 0, 0.025), 0 16px 16px rgba(0, 0, 0, 0.015);

    --pretty-inset-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.005),
        inset 0 2px 2px rgba(0, 0, 0, 0.005),
        inset 0 4px 4px rgba(0, 0, 0, 0.005),
        inset 0 8px 8px rgba(0, 0, 0, 0.025),
        inset 0 16px 16px rgba(0, 0, 0, 0.015);
}

// убрать
// $blue: #568de5;
// $light-blue: #84adea;
// $sky: #cbdcf7;
// $light-sky: #dce7f7;
// $white: #ecf0f5;
// $green: #70b673;
// $green-hover: #8cc58e;
// $green-light: #c4e1c5;
// $grey: #c5cfdc;
// $error: #f2a4a4;
// $error-text: #df6c6c;
// $text: #414141;
