.notifications {
    position: absolute;
    z-index: 20;
    top: 74px;
    left: 0;
    width: 100%;
    width: auto;
    height: min-content;
}

.notifications__container {
    //padding: 10px;
    width: 100%;
}

.notifications__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.notifications__item {
    cursor: pointer;
    &:first-child {
        margin-top: 10px;
    }
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

@keyframes notice-translate {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes reverse-notice-translate {
    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(0%);
    }
}

.notice {
    font-family: "Fira Sans", sans-serif;

    color: var(--text);
    font-weight: 500;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0px, 0px, 0px, 0.02),
        0 2px 2px rgba(0px, 0px, 0px, 0.025),
        0 4px 4px rgba(0px, 0px, 0px, 0.035),
        0 8px 8px rgba(0px, 0px, 0px, 0.035),
        0 16px 16px rgba(0px, 0px, 0px, 0.015);
    font-size: 1.2rem;

    transition: 0.15s;

    &:hover {
        opacity: 0.8;
    }

    &.warning {
        // color: var(--error-text);
        background-color: var(--error);
    }
    &.success {
        // color: var(--green);
        background-color: var(--green-light);
    }
    animation: notice-translate 0.4s ease forwards;
    transform-origin: left;
    &.--deletion {
        animation: reverse-notice-translate 0.4s ease forwards;
    }
}
