.about {
}

.about__container {
    padding: 25px;
}

.about__title {
}
.main-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.about__description {
    text-align: justify;
    padding: 25px;
    border-radius: 15px;
    background: var(--light-sky);
    line-height: 1.5;
}

.about__link.link-git-hub {
    color: var(--green);
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}
