.header {
    height: 74px;
}

.header__container {
    height: 100%;
    background-color: var(--sky);
    padding: 16px 18px;
}

.header__grid {
    height: 100%;
    gap: 28px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
}

.header__progress-bar {
    grid-column: 1 / 3;
}

.header__menu-burger {
    grid-column: 3 / 4;
}

.header__profile {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px var(--sky);

    transition: 0.15s linear;

    justify-self: end;
    &:hover {
        box-shadow: 0px 0px 0px 3px var(--white);
        @media (max-width: 768px) {
            box-shadow: 0px 0px 0px 0px var(--sky);
        }
    }
    &:active {
        @media (max-width: 768px) {
            box-shadow: 0px 0px 0px 3px var(--white);
        }
        box-shadow: 0px 0px 0px 0px var(--white);
    }
}
.header__profile-img {
    fill: var(--light-blue);
    height: 34px;
    width: 34px;
}

.header-logo__top-title,
.header-logo__bottom-title {
    font-family: "Fira Code", monospace;
    font-weight: 600;
    font-size: 20px;
    line-height: 108.58%;
    letter-spacing: -0.04em;
    color: var(--blue);
}

.progress-bar {
    margin-left: 8px;
    width: 100%;
    justify-self: center;
    min-width: 100px;
    display: flex;
    align-items: center;
}
.progress-bar__container {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: var(--pretty-shadow);
}
.progress-bar__body {
    transition: 0.8s ease;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    background-color: var(--green);
    box-shadow: var(--pretty-inset-shadow);
}

.header-logo__top-title {
}

.header-logo__bottom-title {
}
