.clue {
    transition: 0.3s;
    display: inline-block;
    width: max-content;
    filter: drop-shadow(0px 0px 1px var(--text));

    // animation: scale-start 0.3s ease forwards;
}
.clue__container {
    position: relative;
    padding-left: 17px;
    margin-left: -17px;
}
.clue__body {
    background-color: var(--text);
    padding: 6px 13px 8px 13px;
    border-radius: 10px;
    //box-shadow: 0px 0px 1px var(--text);

    width: fit-content;
    display: flex;
    justify-content: flex-end;
}

.clue__msg {
    position: relative;
    color: var(--white);
    font-size: 18px;
    z-index: 2;
}
.clue__tail {
    z-index: 1;

    position: absolute;
    bottom: -13.5px;
    left: -0px;
}
.clue-tail-center {
    bottom: 20%;
}
.clue__tail-img {
}

@keyframes scale-start {
    0% {
        transform: scale(50%);
    }
    100% {
        transform: scale(100%);
    }
}

.clue-enter {
}
.clue-enter-active {
    animation: scale-start 0.3s ease forwards;
}
.clue-exit {
}
.clue-exit-active {
    animation: scale-start 0.3s ease reverse forwards;
}
