.profile {
}
.profile__container {
    padding: 15px;
}
.profile__header {
    box-shadow: var(--pretty-shadow);

    padding: 15px;
    border-radius: 15px;
    background: var(--light-sky);
    margin-bottom: 15px;

    text-align: center;
}
.profile__title {
}
.profile__email {
    color: var(--blue);
}
.profile__statistic {
    padding: 25px;
    border-radius: 15px;
    background: var(--light-sky);
}
///
///
.exercises-statistic {
    box-shadow: var(--pretty-shadow);
}
.exercises-statistic__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0px;
}
.exercises-statistic__separator {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--sky);
    outline: none;
    border: none;
    // box-shadow: var(--pretty-inset-shadow);
}
.exercises-statistic__title {
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: center;
}
.exercises-statistic__diagram {
}
///
///
.diagram {
}
.diagram__body {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    max-width: 250px;
    max-height: 250px;
    animation: rotate-circle 10s linear infinite;
    animation-play-state: running;
    &:hover {
        animation-play-state: paused;
        .diagram__big-circle,
        .diagram__small-circle {
            animation-play-state: paused;
        }
    }
}
.diagram__big-circle,
.diagram__small-circle {
    color: var(--white);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;

    //

    //
    animation: rotate-circle 10s linear reverse infinite;

    background-color: var(--grey);

    background: radial-gradient(
        farthest-side ellipse at top left,
        rgb(231, 231, 231),
        #aaaaaa
    );
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3),
        -5px -10px 20px rgba(255, 255, 255, 0.5);
}
.diagram__small-circle {
    opacity: 0.9;
    color: var(--white);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background: radial-gradient(
        farthest-side ellipse at top left,
        rgb(201, 230, 188),
        var(--green)
    );
    box-shadow: 5px 10px 20px rgba(15, 59, 4, 0.3),
        -5px -10px 20px rgba(179, 230, 178, 0.5);
}
///
///
.exercises-statistic__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    align-self: flex-start;
}
.exercises-statistic__description-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
///
///
.exercises-desc-item {
    font-size: 1.3rem;
}

.exercises-desc-item__circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #c2c2c2;
    box-shadow: var(--pretty-shadow);
}
.correctly-exercise-desc {
    color: var(--green);
}
.correctly-exercise-desc .exercises-desc-item__circle {
    background-color: var(--green-hover);
}

@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
