@import "../../../assets/style/colors.scss";

.menu-burger-btn {
    cursor: pointer;
    width: 35px;

    &.--opened {
        .menu-burger-btn__container {
        }
        .menu-burger-btn__top-row {
            top: 50%;

            transform: translate(0%, -50%) rotate(-45deg);
        }
        .menu-burger-btn__mid-row {
            opacity: 0;
            transform: translate(0%, -50%) scale(30%);
        }
        .menu-burger-btn__bottom-row {
            bottom: 50%;

            transform: translate(0%, 50%) rotate(45deg);
        }
    }
}

.menu-burger-btn__container {
    position: relative;
    z-index: 100;
    width: 35px;
    height: 24px;
}
.menu-burger-btn__top-row,
.menu-burger-btn__mid-row,
.menu-burger-btn__bottom-row {
    transition: 0.2s ease;
    z-index: 100;
    position: absolute;
    height: 5px;
    width: 35px;
    background-color: var(--light-blue);
    border-radius: 3px;
}

.menu-burger-btn__top-row {
    top: 0;
}
.menu-burger-btn__mid-row {
    transition: 0.2s ease;
    top: 40%;
    transform: scale(100%);
}
.menu-burger-btn__bottom-row {
    bottom: 0;
}
