.home {
    height: 100%;
    // left: 0;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // min-height: 100%;
    // position: absolute;
}
.home__column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__header {
    position: relative;
    z-index: 2;
    text-align: center;

    display: flex;
    justify-content: center;
    padding: 10px 45px;
    border-radius: 0 0 35px 35px;
    border: 6px solid var(--light-sky);
    border-top: none;

    background-color: var(--white);

    box-shadow: var(--pretty-shadow);

    @media (max-width: 460px) {
        padding: 10px 20px;
        border-radius: 0 0 15px 15px;
    }
}
.home__title {
    font-size: 1.5rem;
    text-shadow: 0px 2px 5px var(--grey);
}
.home__themes {
}

.home__select-your-word {
    text-align: center;
    padding: 12px 0 18px 0;
    max-width: 545px;
}
.home__your-word-form {
    @media (min-width: 769px) {
        border-radius: 30px 30px 0 0;
    }
    padding: 28px 0;
    flex: 1 1 auto;
    align-self: stretch;
    background-color: var(--light-sky);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.home__input {
    width: 176px;
    height: 44px;
}
.home__sumbit-btn {
    width: 153px;
    border-radius: 19px;
}

.today-themes {
    position: relative;
    z-index: 1;
}
.today-themes__container {
    width: 268px;
    // height: 208px;
    // max-height: 35vh;
    max-height: calc(var(--vh, 1vh) * 35);
    margin-bottom: 20px;
    border-radius: 0 0 8px 8px;
    background-color: var(--light-sky);
    box-shadow: 0px 0px 0px 20px var(--light-sky);
    overflow: overlay;

    &::-webkit-scrollbar {
        width: 0px;
    }
}
.today-themes__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px 0 0 0;
}
.today-themes__item {
    padding: 12px;
    font-size: 18px;
    width: 100%;
}
